@import "tailwindcss";

@theme {
  /* Backgrounds */
  --color-bg: #0b002a;
  --color-bg-secondary: #171039;

  /* Accent */
  --color-accent-from: #4400ff;
  --color-accent-to: #3901d2;

  /* Text */
  --color-text: #ffffff;
  --color-text-secondary: rgba(255, 255, 255, 0.6);
  --color-muted: #a092b2;

  /* Borders */
  --color-border: rgba(255, 255, 255, 0.08);

  /* Fonts */
  --font-sans: "Poppins", sans-serif;
}
